body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
}

#box {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  border-radius: 10px;
}
